.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  background-image: url('../resources/stars.webp');
  background-color: #000000;
  background-attachment: fixed;
  background-size: auto;
}

hr {
  border: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#jumbotron {
  height: 25vh;
  display: flex;
  align-items: center;
  height: 40vh;
}

#content {
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 60vh;
}

#footer {
  height: 15vh;
}

@media (max-width: 768px) {
  #content {
    min-height: 52vh;
  }
  #footer {
    height: 23vh;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
