.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron{
  background-image: url("../resources/stars.png");
  background-color: black;
  background-attachment: fixed;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.landing{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.landing .astronaut{
  width: 5rem;
  height: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.landing .intro h2{
  font-weight: bold;
}

@media (max-width: 768px) {
  .landing .intro h2{
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .landing .intro p{
    font-size: 1rem;
  }
}