.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.languages, .vessel{
    display: block;
    width: auto !important;
    text-align: center;
}
.vessel a{
    display: inline-block;
    padding: 6px;
}

a{
    background:none;
    color:inherit !important;
    border:none;
    font: inherit;
    transition: 0s !important;
}

a:hover{
    color: black !important;
}

@media (max-width: 992px) {
    .footer {
        padding-top: 0.5rem;
    }
    .pull-right, .pull-left{
        float: unset;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .languages{
        padding-top: 0.6rem;
    }
    .coffee{
        justify-content: center;
    }
    .coffee a{
        margin-left: unset;
        padding-top: 0.6rem;
    }
}
@media (min-width: 992px) {
    .footer {
        padding-top: 1rem;
        padding-bottom: 3.5rem;
    }
}
@media (min-width: 1200px) {
    .footer {
        padding-top: 1.5rem;
        padding-bottom: 4rem;
    }
}