.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.coffee{
    display: flex;
}
.coffee a{
    margin-left: 1rem;
}

.languages, .vessel{
    display: block;
    width: auto !important;
    text-align: center;
}
.languages a, .vessel a{
    display: inline-block;
    padding: 6px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li:not(:last-child) {
    margin-right: 1rem;
}

a{
    background:none;
    color:inherit !important;
    border:none;
    font: inherit;
    transition: 0s !important;
}

a:hover{
    color: black !important;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 0.5rem;
    }
    .pull-right, .pull-left{
        float: unset;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .languages{
        padding-top: 0.6rem;
    }
    .coffee{
        justify-content: center;
    }
    .coffee a{
        margin-left: unset;
        padding-top: 0.6rem;
    }
}
@media (min-width: 768px) {
    .footer {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
}
@media (min-width: 992px) {
    .footer {
        padding-top: 1rem;
        padding-bottom: 3.5rem;
    }
}
@media (min-width: 1200px) {
    .footer {
        padding-top: 1.5rem;
        padding-bottom: 4rem;
    }
}