.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li:not(:last-child) {
    margin-right: 1rem;
}

a{
    background:none;
    color:inherit !important;
    border:none;
    font: inherit;
    transition: 0s !important;
}

a:hover{
    color: black !important;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 0.5rem;
        padding-bottom: 2.5rem;
    }
}
@media (min-width: 768px) {
    .footer {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
}
@media (min-width: 992px) {
    .footer {
        padding-top: 1rem;
        padding-bottom: 3.5rem;
    }
}
@media (min-width: 1200px) {
    .footer {
        padding-top: 1.5rem;
        padding-bottom: 4rem;
    }
}