.landing {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.landing .astronaut {
  min-width: 7rem;
  min-height: 7rem;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

#santa {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: -1.2rem;
  left: 2.45rem;
  transform: rotate(11deg);
}

.landing .intro h2 {
  font-weight: bold;
}

.adsbygoogle {
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .landing .intro h2 {
    font-size: 1rem;
  }
  .landing .astronaut {
    min-width: 5rem;
    min-height: 5rem;
  }
  #santa {
    width: 2rem;
    height: 2rem;
    top: -1rem;
    left: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .landing .intro p {
    font-size: 1rem;
  }
}
