.newsletterSubscription-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 8em;
  padding-bottom: 5em;
  border-radius: 0.5em;
}

.newsletterSubscription-body h2 {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.2;
}

.newsletterSubscription-body p {
  color: #8d8d8d;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
}

.newsletterSubscription-body {
  max-width: 270px;
  margin-right: 2em;
}

.newsletterSubscription-input {
  width: calc(100% - 650px);
}

.newsletterSubscription-illustration {
  width: 280px;
}

.newsletterSubscription-imageWrapper {
  position: relative;
  height: 200px;
}

.newsletterSubscription-illustration img {
  max-width: 280px;
  position: absolute;
  top: -85px;
  left: 0px;
}

.newsletterSubscription-flashMessage {
  line-height: 3em;
  font-weight: 500;
  visibility: hidden;
}

.messageReceived {
  visibility: visible;
}

.ant-newsletterInput.invalidInput input:focus {
  border-color: red;
}

#newsletter-wrapper {
  background: #e4ffee;
}

@media (max-width: 992px) {
  .newsletterSubscription-container {
    flex-direction: column;
    box-shadow: unset;
  }

  .newsletterSubscription-body {
    max-width: unset;
    margin-right: unset;
    text-align: center;
  }

  .newsletterSubscription-illustration img {
    max-width: 270px;
    top: -88px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .newsletterSubscription-input {
    width: 60%;
  }
}

@media (max-width: 660px) {
  .newsletterSubscription-input {
    width: 90%;
  }

  .newsletterSubscription-illustration img {
    max-width: 240px;
    top: -55px;
  }
}
