.card{
    margin: 0.3rem;
    width: 15rem;
}

.card {
    margin: 1%;
  }
  @media (max-width: 768px) {
    .card {
      width: 48%;
    }
  }
  @media (min-width: 768px) {
    .card {
      width: 31%;
    }
  }
  @media (min-width: 992px) {
    .card {
      width: 23%;
    }
  }
  @media (min-width: 1200px) {
    .card {
      width: 18%;
    }
  }