.ant-input.ant-input-lg {
  width: 100%;
  max-width: 720px;
  text-align: center !important;
  border-radius: 36px;
  height: 40px !important;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.header h1 {
  align-self: center;
  color: white;
  font-weight: bold;
}

.anticon-thunderbolt {
  color: #ffeb3b !important;
  font-size: 4rem !important;
}

.ant-input-suffix svg {
  font-size: 0.8rem;
}

@media (max-width: 360px) {
  .header {
    margin-bottom: 0.5rem;
  }
  .header h1 {
    font-size: 1.3rem;
  }
  .anticon-thunderbolt {
    font-size: 2.4rem !important;
  }
  .ant-input.ant-input-lg {
    font-size: 1rem;
    height: 2.1rem !important;
  }
}

@media (min-width: 360px) {
  .header {
    margin-bottom: 0.5rem;
  }
  .header h1 {
    font-size: 1.45rem;
  }
  .anticon-thunderbolt {
    font-size: 3rem !important;
  }
  .ant-input.ant-input-lg {
    font-size: 1.05rem;
    height: 2.1rem !important;
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 1rem;
  }
  .header h1 {
    font-size: 2.1rem;
  }
  .anticon-thunderbolt {
    font-size: 3.7rem !important;
  }
  .ant-input.ant-input-lg {
    font-size: 1.3rem;
    height: 2.6rem !important;
  }
}
@media (min-width: 992px) {
  .header {
    margin-bottom: 1rem;
  }
  .header h1 {
    font-size: 2.2rem;
  }
  .anticon-thunderbolt {
    font-size: 3.8rem !important;
  }
  .ant-input.ant-input-lg {
    font-size: 1.25rem;
    height: 2.7rem !important;
  }
}
