.ant-input.ant-input-lg {
    width: 100%;
    max-width: 720px;
    text-align: center; 
    border-radius: 36px;
    height: 40px;
}

.search
 {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 720px;

  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;

}

.header{
  display: flex;
  flex-direction: row;
}

.header h1{
  align-self: center;
  color: white;
  font-weight: bold;
}

.anticon-thunderbolt{
    color: #FFEB3B;
    font-size: 4rem;
}


@media (max-width: 768px) {
  .header {
    margin-bottom: 0.5rem;
  }
  .header h1{
    font-size: 1.2rem;
  }
  .anticon-thunderbolt{
    font-size: 2.4rem;
  }
  .ant-input.ant-input-lg {
    font-size: 0.8rem;
    height: 1.6rem;
  }
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 1rem;
  }
  .header h1{
    font-size: 1.6rem;
  }
  .anticon-thunderbolt{
    font-size: 3.2rem;
  }
  .ant-input.ant-input-lg {
    font-size: 1rem;
    height: 2rem;
  }
}
@media (min-width: 992px) {
  .header {
    margin-bottom: 1rem;
  }
  .header h1{
    font-size: 1.9rem;
  }
  .anticon-thunderbolt{
    font-size: 3.8rem;
  }
  .ant-input.ant-input-lg {
    font-size: 1.2rem;
    height: 2.4rem;
  }
}
